* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "montserrat", sans-serif;
  font-size: 4.25vw;
  --color-copy: #333;
}

/* mobile */
@media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
}
/* tablet */

@media screen and (min-width: 720px) {
  :root {
    font-size: 2.25vw;
  }
}

/* descktop */

@media screen and (min-width: 1280px) {
  :root {
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  padding-top: 7.75rem;
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  justify-content: center;
}
