@import "./css/_navibar-contato.css";

.empresa {
  height: 34.625rem;
  position: relative;
  background-color: brown;
  background-image: url(../images/banner-3.png);
  background-size: cover;

  margin-top: -8rem;
}

.hero__copy {
  margin: 0;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__copy h2 {
  color: var(--color-primary);
  font-size: 7.5rem;
  letter-spacing: -0.3125rem;
  padding: 0;
}

.hero__copy p {
  color: #ccc;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  width: 65%;
  padding: 5rem 0;
}

/* sections */
.foto-homem {
  background-color: white;
  width: 100vw;
  height: 47.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.texto {
  width: 28.125rem;
  margin-left: 37.5rem;
}

.homem {
  width: 43.75rem;
  height: 100%;
  margin-right: 37.5rem;
  position: relative;
}

.care-image {
  display: flex;
  height: 100%;
}

/* section-2 */

.logos {
  background-color: var(--color-primary);
}

.logos-1 {
  text-align: center;
  padding-bottom: 6.25rem;
}

.logos-1 h5 {
  padding: 4.375rem 0;
  font-size: 1.4375rem;
}

.images {
  background-image: url(../images/images.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position-x: -12.5rem;
  background-position-y: 3.75rem;
  width: 100%;
  height: 100%;
  position: absolute;
}

.care {
  display: flex;
  position: relative;
}

.care-2 {
  width: 30.625rem;
  height: 30.625rem;
  right: 12.25rem;
  border: 0.1875rem solid var(--color-primary);
  left: 11.875rem;
  position: absolute;
  top: 15rem;
}

.care-3 {
  width: 16.5625rem;
  height: 16.6525rem;
  position: absolute;
  border: 0.1875rem solid var(--color-primary);
  top: 1.875rem;
  left: 28.75rem;
}

.care-1 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  background-color: var(--color-primary);
  border: 0.1875rem solid var(--color-primary);
  left: 9.375rem;
  top: 33.75rem;
}

.texto h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7.5rem 0 3.75rem 0;
}

.texto span {
  font-size: 0.9375rem;
}

.texto p {
  margin: 2.875rem 0;
  font-size: 0.9375rem;
}

/* section-3 */

.video {
  width: 100vw;
  height: 40.625rem;
  align-items: center;
}

.video-1 {
}

.video-content {
  height: 100%;
  width: 100%;
  margin: 5rem 4.0625rem;
}

[controls] {
  background: none;
  border: none;
  height: 35.625rem;
  width: 63.25rem;
}

/* contato-formulario */

.contato-form {
  background-color: brown;
  display: grid;
  grid-template-columns: auto auto;
  height: 34.375rem;
}

.formu {
  background-color: black;
  height: 100%;
  display: block;
}

.formu-content h3,
.formu-content label,
.formu-content input,
.formu-content,
.button-4 {
  display: block;
  color: white;
  width: 25rem;
}
.formu-content {
  margin: 0 7.1875rem;
  padding: 4.375rem 0;
}

.formu-content input {
  width: 25rem;
  border: none;
  background: none;
  border-bottom: 0.125rem solid white;
}

.formu-content label {
  padding: 1.875rem 0;
}

.formu-content h3 {
}

.button-4 {
  margin: 1.875rem 0;
  width: 9.375rem;
  display: block;
  float: right;
  background-color: var(--color-primary);
  border: none;
}

/* contato-endereco */

.info {
  background-color: white;
  height: 100%;
}

.info-content {
  color: black;
  width: 23.125rem;
  height: 15.625rem;
  margin: 0 0 0 19.375rem;
  padding: 3.75rem 0;
}

.info-content span {
  display: block;
  padding: 0.3125rem 0;
}

.info-content h3:last-of-type {
  padding-top: 4.375rem;
}

.info-content h3:first-of-type {
  padding-bottom: 0.1rem;
}

.info-content span:last-of-type {
  padding-top: 0.875rem;
  display: flex;
}

.info-content span i {
  color: var(--color-primary);
  padding: 0 0.625rem;
}

/* mapa */
#gmap_canvas {
  height: 35.625rem;
}
.section-mapa {
  height: 35.625rem;
}
