/* footer */

.footer {
  background-color: black;
}

.footer3 {
  height: 7.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
@media screen and (min-width: 768px) {
  .footer3 {
    height: 7.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer3 {
    height: 7.75rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  }
}

.footer-2 {
  height: 270px;
  background-color: black;
}
@media screen and (min-width: 768px) {
  .footer-2 {
    height: 270px;
    background-color: black;
  }
}
@media screen and (min-width: 1280px) {
  .footer-2 {
    height: 7.75rem;
    background-color: black;
  }
}

/* formulario */

.form {
  max-height: 300px;
  width: 500px;
  background-color: black;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  justify-content: center;

  padding: 40px 0;
}
@media screen and (min-width: 1280px) {
  .form {
    max-height: 300px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}
.form label {
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  background-color: black;

  font-weight: 100;
  padding: 4px 20px;
}
.form label span {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .form label span {
    display: block;
    margin-top: unset;
    margin-bottom: unset;
  }
  .form label {
    font-size: 14px;
    letter-spacing: 0px;
  }
}

.form input {
  height: 40px;

  width: 250px;
  background-color: var(--color-primary);
  border: none;
  padding: 15px 0;
  padding-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.form button {
  height: 40px;
  width: 40px;
  padding-bottom: 5.9px;
  background-color: white;
  border: none;
  margin: 0 -6px;
}
.form button:hover {
  background-color: rgb(0, 162, 255);
  cursor: pointer;
}

/* icones */
.icones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 200px;
  height: 50px;
}
.icones img {
  width: 80%;
}

/* todos os direitos reservados */

.fim {
  background-color: black;
  height: 3.125rem;
}

.fim p {
  color: white;
  text-align: center;
  margin-top: 0.9375rem;
}

.fim p span {
  color: var(--color-primary);
}
