/* footer */

.footer {
  background-color: black;
}

.footer3 {
  height: 7.75rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

.footer-2 {
  height: 7.75rem;
  background-color: black;
}

/* formulario */

.formulario {
  display: flex;
  justify-content: stretch;
  padding: 0 0 0 1.5625rem;
  align-items: center;
}

.formulario label {
  color: #fff;
  font-size: 0.625rem;
  text-align: center;
  line-height: 0.75rem;
}

.formulario label span {
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.formulario input {
  margin: 0 0 0 1.5625rem;
  height: 2.5rem;
  width: 15.625rem;
  background: var(--color-primary);
  border: unset;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8125rem;
  padding: 0 1.25rem;
  letter-spacing: 0.125rem;
}

.formulario button {
  border: none;
  height: 2.5rem;
  width: 2.5rem;
}

.sumit:hover {
  cursor: pointer;
  background-color: rgb(0, 153, 255);
}

#image:hover {
  cursor: pointer;
}

/* icones */

.icones li {
  padding: 0 0 0 1.25rem;
}
.icones li a:visited,
.icones li a:visited {
  color: white;
}

.fa-twitter:before,
.fa-twitter:visited,
.fa-twitter:active {
  color: black;
}

#image-icon {
  width: 2.0625rem;
  height: 2.0625rem;

  border-radius: 50%;
}

/* todos os direitos reservados */

.fim {
  background-color: black;
  height: 3.125rem;
}

.fim p {
  color: white;
  text-align: center;
  margin-top: 0.9375rem;
}

.fim p span {
  color: var(--color-primary);
}
