@import "./css/_navibar-contato.css";

.hero {
  height: 34.625rem;
  position: relative;
  background-color: brown;
  background-image: url(../images/banner-2.png);
  background-size: cover;

  margin-top: -8rem;
}

.hero__copy {
  margin: 0;
  width: 50%;

  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__copy h2 {
  color: var(--color-primary);
  font-size: 7.5rem;

  letter-spacing: -0.3125rem;
  padding: 0;
}

.hero__copy p {
  color: #ccc;
  font-size: 0.9375rem;
  line-height: 1.875rem;

  width: 65%;
  padding: 5rem 0;
}

/* contato-formulario */

.contato-form {
  background-color: brown;
  display: grid;
  grid-template-columns: auto auto;
  height: 34.375rem;
}

.formu {
  background-color: black;
  height: 100%;
  display: block;
}

.formu-content h3,
.formu-content label,
.formu-content input,
.formu-content,
.button-4 {
  display: block;
  color: white;
  width: 25rem;
}
.formu-content {
  margin: 0 7.1875rem;
  padding: 4.375rem 0;
}

.formu-content input {
  width: 25rem;
  border: none;
  background: none;
  border-bottom: 0.125rem solid white;
}

.formu-content label {
  padding: 1.875rem 0;
}

.formu-content h3 {
}

.button-4 {
  margin: 1.875rem 0;
  width: 9.375rem;
  display: block;
  float: right;
  background-color: var(--color-primary);
  border: none;
}

/* contato-endereco */

.info {
  background-color: white;
  height: 100%;
}

.info-content {
  color: black;
  width: 23.125rem;
  height: 15.625rem;
  margin: 0 0 0 19.375rem;
  padding: 1.875rem 0;
}

.info-content span {
  display: block;
  padding: 0.3125rem 0;
}

.info-content h3:last-of-type {
  padding-top: 4.375rem;
}

.info-content h3:first-of-type {
  padding-bottom: 1rem;
}

.info-content span:last-of-type {
  padding-top: 1.875rem;
  display: flex;
}

.info-content span i {
  color: var(--color-primary);
  padding: 0 0.625rem;
}

/* mapa */
#gmap_canvas {
  height: 35.625rem;
}
.section-mapa {
  height: 35.625rem;
}
