.navbar {
  position: fixed;
  z-index: 1;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  /* position: relative; */
}

.navbar__container {
  align-items: center;
  height: 7.75rem;
  padding: 0 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logos */

.logo {
  font-weight: 900;
  text-align: right;
  line-height: 1.2ch;
  color: white;
  align-items: center;
  justify-content: center;
}

.logo-1 {
  text-align: right;
  line-height: 1.2ch;
  color: white;
  align-items: center;
  justify-content: center;
}

.on {
  color: var(--color-primary);
}

.logo h1 {
  position: relative;
  padding: 0;
  cursor: pointer;
  margin: 0;
  font-size: 2.375rem;
  font-weight: 900;
  text-transform: uppercase;
}

.logo-1 h5 {
  position: relative;
  padding: 0;
  cursor: pointer;
  margin: 0;
  font-size: 2.375rem;
  font-weight: 900;
  text-transform: uppercase;
}

.evento {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 300;
  left: 0;
  right: 0;
  display: block;
  top: 1.625rem;
  position: absolute;
  text-align: end;
}

/* menu */

.menu-list ul {
  padding-left: 0;
  list-style: none;
  display: none;
}

.menu-list li a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.menu-list li {
  font-size: 1.75rem;
  /* padding: 0 0 0 3.125rem; */
  text-transform: uppercase;
}

.menu-list li .active {
  color: var(--color-primary);
}

.menu-list a:hover {
  color: var(--color-primary);
}
@media screen and (min-width: 1280px) {
  .menu-list ul {
    display: flex;
  }
}
.menu-btn {
  cursor: pointer;
  color: white;
  background-color: unset;
  border: unset;
  width: fit-content;
  font-size: 2rem;
  z-index: 10;
  outline: none;
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.list.active {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: start;
  background: #000e;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 1280px) {
  .menu-list li {
    padding: 0 0 0 3.125rem;
  }
  .menu-list li {
    font-size: 0.875rem;
  }
}
