@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');


:root{
    --color-primary: #ffc500;
font-family: 'montserrat', sans-serif;
font-size: 16px;
--default-padding:1rem;
--color-copy: #333;
}



body{
    box-sizing: border-box;
    padding-top: 7.75rem;
    margin: 0;

}

header,
main,
footer{
    overflow-x: hidden;
}

.container{
    max-width: 1140px;
   margin: 0 auto;
   
   justify-content: center;
}

ul{
    list-style: none;
    display: flex;
}



.navbar{
    position: fixed;
    z-index: 1;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar__container{
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr 9fr;

    width: 100vw;
    height: 7.75rem;
  
}

.logo{
    font-size:2.375rem ;
    font-weight: 900;
    text-align: right;
    line-height: 1.2ch;
    
    align-items: center;
    justify-content: center;
    
    
}

.on{
    color: var(--color-primary);
    
}


.evento{
    font-size: 0.875rem;
    font-weight: 300;
    float: right;
}


a{
    text-decoration: none;
}



.menu-list{
   
    padding-left: 0;
    justify-self: end;
    
   
}

.menu-list li a{
  
    color: white;
    font-weight: 300;
   
}

.menu-list li{
   font-size: 0.875rem;
    padding: 0 0 0 3.125rem;
    text-transform: uppercase;
  
   
}





.menu-list a:hover{
    
   color: var(--color-primary);
}


                                      /* header */



header{
    height: calc(100vh - 7.75rem);
    padding: var(--default-padding);
    background-color: #000;
    color: white;
    position: relative;
    
}


.header-image-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
   
    
    
}
.banner{
    float: left;
    position: relative;
    right: 350px;
    
}






.header-content{
    position: absolute;
    top: 6.25rem;
    left: 45vw;
}

.header-content h6{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1875rem;
}
.proximo{
    
    color: var(--color-primary);
}


.header-content h2{
    font-size: 6.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    line-height: 6.25rem;
}

.header-content h2 span{
    color: var(--color-primary);
}

.header-content h2 span{
    display: block;
}

                                /* button */

.button-1{
    cursor: pointer;
    background-color: ;
    padding: 0.9375rem 1.875rem;
    color: var(--color-primary);
    border: 0.125rem solid #fff;
    font-size: 0.9375rem;
    text-transform: uppercase;
    background: unset;
    border-radius: 5rem;
    transition: 0.5s all ease-in-out ;
}

.button-1:hover{
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
    
}

                                      /* main */

 

                                       /* section-1 */
#counter{
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    

}


.counter__container{
   
    margin: 0;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   place-items: center;
    padding: 4.375rem;
    

}

.counter__container h3{
    font-size: 2.1875rem;
    line-height: 20px;
}

.counter__container h3 small{
    display: block;
    font-size: 1.25rem;
}


.counter__container li{
   
    align-items: center;
   
}


                            /* section-2 */

.institutional{
    display: grid;
    grid-template-columns: auto auto;
    gap:3.125rem;
    align-items: center;
    padding: 4.375rem var(--default-padding);
   
}

.institutional__image{
    max-width: 570px;
    
}


.institutional__copy{
    padding: 0 1.875rem;
    
  
    
}

.institutional__copy h6{
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
    
}

.institutional__copy h4{
    font-size: 1.5625rem;
    font-weight: 700;
    margin-top: 1rem;
    
   
}
.institutional__copy__h4__consec{
    display: block;
}
.institutional p{
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    font-family: 'roboto' sans-serif;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}



.button-2{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.button-2:hover{
    color: var(--color-copy);
    border-color: var(--color-primary);
    background-color:unset;
}


                                     /* section-3 */


.quote{
    background-image: url(../src/images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 80vh;
    background-position: center;
}

.quote-content{
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 0fr;
    place-items: end;
    align-items: center;
}

.quote-list{
    
    background-color: white;
    padding: 5.625rem 4.375rem;
   
}
.quote-list h6{
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    line-height: 1.4375rem;
    max-width: 52ch;
    margin: 0;
}



 .quote-list h2{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.1875rem;
    text-transform: uppercase;
    color:black;
    line-height: 5rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
 }

 .quote-list h2 span{
     display: block;
     color: var(--color-primary);
 }

 .button-3{
    background-color: unset;
    border-color: var(--color-copy);
    color: #333;
    
}

.button-3:hover{
    color: white;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}




                                   /* footer */


.footer{
    height: 7.75rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;

    
   
}                                   
.footer-2{
    height: 7.75rem;
    background-color: black;
}



.logo-2{
    font-size:15px ;
    font-weight: 900;
    text-align: right;
    line-height: 1.2ch;
    color: white;
    align-items: center;
    justify-content: center;
    
    
}

.on-2{
    color: var(--color-primary);
    
}


.evento-2{
    font-size: 10px;
    font-weight: 300;
    display: block;
    position: relative;
    top: 8px;
}

